<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <a href="/perfil" class="btn-visualizar">Perfil</a>
    <a href="/cadastrarCategoria" class="btn-cadastrar">Nova Categoria</a>
    <a href="/cadastrarConta" class="btn-cadastrar">Nova Conta</a>
    <button type="button" id="btnLogout">Sair</button>
    
    <h2>Categorias</h2>
    <div id="categoriasContainer">
    </div>

    <script src="scripts.js"></script>
</body>

</html>